<h2>Eventos</h2>
<hr>

<form action="" class="form-inline">
  <div class="mb-2 row">
    <div class="col-4">
      <input type="text" class="form-control me-2" placeholder="Buscar">
    </div>
    <button class="btn btn-outline-success col-2">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="table-dark">
    <tr class="text-center">
      <th>#</th>
      <th>Imagem</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos.length">
    <tr class="text-center" *ngFor="let evento of eventos">
      <td>{{evento.eventoId}}</td>
      <td>
        <img src="{{evento.imagemURL}}"
             alt="{{evento.tema}} em {{evento.local}}"
             [style.width.px] = widthImg
             [style.margin.px] = marginImg>
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
